@font-face { font-family: "Josefin Slab"; font-style: normal;  font-weight: 400;  src: local("Josefin Slab"), local("JosefinSlab"), url(http://fonts.gstatic.com/s/josefinslab/v6/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;}
@font-face { font-family: "Triumph Tippa"; src: url(../fonts/triumph_tippa.ttf);}
@font-face { font-family: "Conspiracy"; src: url(../fonts/conspiracy.ttf);}
@import url(http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono);

html {
	letter-spacing: 0.1em;
	font-size: 1.3em;
	/* font-family: 'Marvel', 'Courier New', monospace; */
	/* font-family: 'Josefin Slab', serif; */
	/* font-family: 'open sans'; */
	/* font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace; */
	/* font-family:"Conspiracy"; */
	
	font-family:"Triumph Tippa";
	/* font-family: 'PT Sans'; */
	
	height: 100%;
	overflow-y: scroll;
}

body {
    text-align: center;
    margin: 0px;
    height: 100%;
    background-color: #fdfdfd;
    color: #fff;
}

.headerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}


#header {
    margin-top: 20px;0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    
    background-image: url(../images/soundinz-clip-embossed.png);
    background-position: 0px 140px; /* Visible coordinates in image */
    /* background-repeat: no-repeat; */
    width: 683px; /* Visible height */
    height: 140px; /* Visible width */
}


a:link {
    color: #000;
    text-decoration: none;
}


a:visited {
    color: #000;
}

a:hover {
    color: #0000ff;
}



.ptype {
    clear:left;
    font-size: 0.5em;
    font-family:monospace,  serif;
    color: #000000;
    margin-top: -2em;
}
 